[Unit]
Description=Ethos Python Server
After=network.target

[Service]
ExecStart=/home/pi/ethos-raspberry-pi/python_radio/env/bin/python3 /home/pi/ethos-raspberry-pi/python_radio/src/main.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
